@charset "UTF-8";
@import url("Inter_ExtraBold/stylesheet.css");
@import url("Inter_Regular/stylesheet.css");
@import url("Inter_Bold/stylesheet.css");
@import url("Inter_ExtraLight/stylesheet.css");


/* Body */

html {
  scroll-behavior: smooth;
}

body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
/* Container */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;	
}
/* Navigation */
header {
    width: 100%;
    height: 100%;
    background-color: #424242;
}
.logo {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 10%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
    float: right;
    text-align: right;
    margin-right: 25px;
    color: #FF0004;
    position: fixed;
    background-color: #161616;
    opacity: 0.7;
	width: 100%;
	

}
header nav ul {
    list-style: none;
    float: right;
    background-size: auto auto;
}
nav ul li {
    float: left;
    color: #FFA1A3;
    font-size: 14px;
    text-align: left;
    margin-right: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    transition: all 0.3s linear;
}
ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Inter-ExtraLight;
}
ul li:hover a {
    color: #2C9AB7;
    font-family: Inter-Regular;
}
.hero_header {

	
    color: #FFFFFF;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    letter-spacing: 16px;
    font-family: Inter-ExtraBold;
    font-size: 75px;
}
/* Hero Section */
.hero {
    padding-top: 20%;
    padding-bottom: 20%;
    background-image: url("../img/8.4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (max-width: 1200px) {
.hero {
    background-attachment: scroll;
  }
}
.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
    text-align: center;
    color: #FFFFFF;
    margin-top: 4px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Inter-Regular;
}
/* About Section */
.text_column {
    text-align: center;
    font-weight: lighter;
    line-height: 25px;
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    color: #FEFEFE;
    font-size: medium;
    font-family: Inter-ExtraLight;
}
.about {
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color: #434052;
    font-family: Inter-Regular;
    color: #FFD7BF;
}
/* Stats Gallery */
.stats {
	color: #717070;
	margin-bottom: 5px;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.gallery .thumbnail h4 {
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    color: #FFFFFF;
}
.gallery .thumbnail p {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #000000;
}
/* Parallax Section */
.banner {
    height: 5%;
    background-color: #FFFFFF;
}
.parallax {
    color: #000000;
    padding-right: 100px;
	   padding-left: 50px;
    padding-top: 5%;
	padding-bottom: 2%;
    letter-spacing: 2px;
    margin-top: 0px;
    font-family: Inter-Bold;
    font-size: xx-large;
    line-height: 1px;
    display: inline-block;
}
.parallax_description {
	color: #FFFFFF;
	text-align: centre;

	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.footer_column {
    width: 33%;
    text-align: center;
    padding-top: 30px;
    float: left;
    font-family: Inter-ExtraLight;
    font-size: small;
}

@media (max-width: 320px) {
  .footer_column {
    width: 100%;
  }
}
footer .footer_column h3 {
    color: #595959;
    text-align: center;
    font-family: Inter-Regular;
    font-size: medium;
}
footer .footer_column p {
    color: #000000;
    background-color: #FFFFFF;
}
.cards {
    width: 80%;
    max-height: 100%;
    display: inline-block;
}

footer .footer_column p {
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    line-height: 25px;
    font-weight: lighter;
    margin-left: 20px;
    margin-right: 20px;
    color: #000000;
    font-family: Inter-ExtraLight;
}

.button {
    width: 200px;
    margin-top: 40px;
    margin-right: 10px;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    transition: all 0.3s linear;
    font-family: Inter-ExtraLight;
    display: inline-block;
}
.button:hover {
    background-color: #FEFEFE;
    color: #C4C4C4;
    cursor: pointer;
    font-family: Inter-ExtraLight;
}
.copyright {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000000;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    border-top-width: 2px;
    font-family: Inter-ExtraLight;
}
.footer_banner {
    background-color: #434052;
    padding-top: 60px;
    padding-bottom: 60PX;
    margin-bottom: 0px;
    background-image: url(../images/pattern.png);
    background-repeat: repeat;
    text-align: center;
}
footer {
	display: inline-block;
}
.hidden {

}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
}


}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
    width: 100%;
    text-align: center;
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #043745;
    font-size: xx-large;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #424242;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops */
@media (min-width: 700px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}

.topbar {
	
}

.about-heading {
    color: #030202;
    font-family: Inter-Bold;
    text-align: center;
    font-size: xx-large;
	padding-top: 5%;
}

.about-title-block {
		max-width: 70%;
	float:left;
	margin-bottom: auto;
	margin-top: auto;
}

.me-img {
    float: right;
    max-width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Inter-Regular;
}

.work-description {
    color: #000000;
    text-align: centre;
    line-height: 23px;
    margin-top: 0px;
    margin-right: 5%;
    margin-left: 40%;
    font-weight: bolder;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	
}


.text {
  font-size: 16px;
}

.card_container {
  text-align: center;
  color: white;

}

.button1 {
    width: 150px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: center;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: #000000;
    transition: all 0.3s linear;
    background-color: #D3D9EB;
    display: inline-block;
    font-family: Inter-ExtraLight;
}
.button1:hover {
    background-color: #FEFEFE;
    color: #C4C4C4;
    cursor: pointer;
    font-family: Inter-ExtraLight;
}
@media (max-width: 700px) {
  .button1 {
    display: inline-block;
  }
}

.email-button {
    color: #FFFFFF;	
}

#photos {
  /* Prevent vertical gaps */
  line-height: 25px;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   10px;
  -moz-column-count:    5;
  -moz-column-gap:      10px;
  column-count:         5;
  column-gap:           10px;  
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}

@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}

@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.navbar {
    float: right;
    text-align: right;
    margin-right: 25px;
    color: #FF0004;
    position: fixed;
    background-color: #161616;
    opacity: 0.7;
	width: 100%;

}

.navbar div.icon {
  cursor: pointer;
 	display: none;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: #707070;
    margin: 6px 6px;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.navbar.responsive li {
    float: none;
    display: block;
    text-align: left;
}

.navbar li.active {
  background-color: #4CAF50;
  color: white;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
  .navbar li {
	  display: none;
	}
  .navbar div.icon {
    float: right;
    display: block;
  }
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
  .navbar.responsive {position: fixed;}
  .navbar.responsive div.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}
